.hot-seat {
    color:red;
    text-decoration: underline;
}

.colder-seat {
    color: blue;
    text-decoration: underline;
}

.Intro {
    text-decoration-line: underline;
    background-color: darkred;
    border: 3px black;
    width: fit-content;
}